
<h1>Blog Show</h1>

<h2>Article list</h2>
<%= link_to 'Article list', controller: 'articles' %>

<h2>New Article</h2>
<%= link_to 'New article', new_article_path %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Home', articles_path %>